.testGroup {
    margin: 20px auto;
}

.testRowHeader {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
}

.testRowTitle {
    color: var(--deep-grey);
}

.testRowDelete {
    color: var(--orange);
    cursor: pointer;
    margin-right: 20px;
}

.addTestGroup {
    color: var(--green);
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.testGroupBottom {
    display: flex;
    justify-content: space-between
}

.addTestGroup:disabled {
    color: var(--grey);
    cursor: not-allowed;
}

.LogResult {
    margin-right: 20px;
    border: 1px solid var(--grey);
    background-color: var(--light-grey);
    border-radius: 5px;
    color: var(--deep-grey);
    padding: 6px 10px;
    font-weight: 600;
    cursor: pointer;
}